:root {
  --primary-text-color: #757575;
  --primary-bkg-color: #ffffff;
  --secondary-text-color: #212121;
  --secondary-bkg-color: #f5f4fa;
  --accent-color: #2196f3;
  --thirdary-bkg-color: #2f303a;
  /* thirdary-bkg - на даний момент є 2 таких кольори, тому добавив в рут */
}
*,
*::after,
* ::before {
  outline: 1px solid red;
}

/* style for body */

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bkg-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* constant identical properties */

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 94px 15px;
}

.list {
  list-style: none;
}
.link {
  text-align: center;
  align-items: center;
  text-decoration: none;
}
.title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

/* nav */
header a {
  display: block;
  height: 80px;
}

header > .container,
.nav,
.nav-link,
.contact {
  display: flex;
}
header > .container {
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
  align-items: center;
  height: 80px;
}
.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
  padding: 24px 0;
}
.nav-link :not(:last-child) {
  margin-right: 50px;
}
.nav .studio {
  color: #000000;
}
.nav {
  align-items: center;
}
.nav-link {
  padding: 0 0;
  text-align: center;
}
.nav-link .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.38px;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-link .link:hover,
.nav-link .link:focus {
  color: var(--accent-color);
}
.current.link {
  color: var(--accent-color);
}

/* contact */
.contact > li:not(:last-child) {
  margin-right: 50px;
}

.contact .link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

/* INDEX.HTML */

/* Hero */

.hero {
  background-color: var(--thirdary-bkg-color);
}
.title-hero {
  color: var(--primary-bkg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .button {
  color: var(--primary-bkg-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.06em;
}
.hero .button:hover,
.hero .button:focus {
  background-color: #188ce8;
}

/* features */

/* hide title */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.features .title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* we do */

.do .title,
.team .title,
.team-item .text {
  text-align: center;
}

/* our team */

.team {
  background-color: var(--secondary-bkg-color);
}
.team-item {
  background-color: var(--primary-bkg-color);
}
.team-item .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-item .text {
  line-height: 1.19;
}

/* footer */

.footer {
  background-color: var(--thirdary-bkg-color);
}
.footer .studio {
  color: var(--primary-bkg-color);
}
.maps {
  color: var(--primary-bkg-color);
}
.address .link {
  color: rgba(255, 255, 255, 0.6);
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}
.address {
  font-style: normal;
}

/* PORTFOLIO */

.portfolio .button {
  color: var(--secondary-text-color);
  background-color: var(--secondary-bkg-color);
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}
.portfolio .button:hover,
.portfolio .button:focus {
  color: var(--primary-bkg-color);
  background-color: var(--accent-color);
}
.portfolio .title {
  font-size: 18px;
  line-height: 2;
}
.portfolio .text {
  font-size: 16px;
  line-height: 1.88;
}
